<div class="card">
    <% if (typeof image !== 'undefined') {%>
        <div class="card-img-top">
            <% if (typeof category !== 'undefined') { %>
                <a href="<%= category.url %>" class="category"><%= category.title %></a>
            <% } %>
            <a href="<%= url %>">
                <img src="<%= images.host %>/<%= image %>" alt="<%= title %>" />
            </a>
            <% if (typeof date !== 'undefined') { %>
                <span class="date"><%= date %></span>
            <% } %>
        </div>
    <% } %>
    <div class="card-body">
        <h5 class="card-title text-reset">
            <a href="<%= url %>"
                title="<%- (typeof text !== 'undefined') ? text : title %>"><%= title %></a>
        </h5>
        <% if (typeof subTitle !== 'undefined') { %>
            <h6 class="card-subtitle m-3 small text-muted">
                <% if (typeof subTitle === "object") {%>
                    <a href="<%= subTitle.url %>"><%= subTitle.text %></a>
                <% } else { %>
                    <%= subTitle %>
                <% } %>
            </h6>
        <% } %>
        <% /* %>
        <% if (typeof text !== 'undefined') { %>
            <p class="card-text"><%- text %></p>
        <% } %>
        <% */ %>
        <% if (typeof button !=='undefined' ) { %>
            <a href="<%= button.url %>" class="btn btn-primary">
                <%= button.text %>
            </a>
        <% } %>
    </div>
</div>
