<div id="slideshow" class="carousel slide carousel-fade my-4"
    data-bs-ride="carousel" data-interval="5000">
    <div class="carousel-indicators">
        <% for(let i = 0; i < 3; i ++) { %>
            <button type="button" class="<%= !i ? 'active' : '' %>"
                aria-current="<%= !i ? 'true' : '' %>"
                aria-label="Slide 1" data-bs-target="#slideshow"
                data-bs-slide-to="<%= i %>">
            </button>
        <% } %>
    </div>
    <div class="carousel-inner">
        <% posts.slice(0, 3).forEach((post, index)=> { %>
            <div class="carousel-item text-center align-middle h-100 <%= (index === 0) ? 'active' : '' %>"
                onclick="window.location='/<%= post.uri %>'">
                <img src="<%= images.blank %>" data-src="<%= post.image %>"
                    alt="<%= post.title %>"
                    class="vw-100 vh-100 object-fit-cover position-absolute top-0 start-0 z-n1" />
                <div
                    class="carousel-caption text-center align-middle pt-2 d-inline-block position-static">
                    <h2 class="text-center d-inline-block">
                        <a href="/публікації/<%= post.alias %>" class="text-white fw-bold">
                            <%= post.title %>
                        </a>
                    </h2>
                </div>
            </div>
        <% }) %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Попередній</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slideshow" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Наступний</span>
    </button>
</div>
<div class="row m-0">
    <% posts.slice(3).forEach(post => { %>
        <div class="col">
            <%- include('card', {
                title:  post.title,
                subTitle: {
                    text: post.user.title,
                    url: '/автори/' + post.user.alias
                },
                text: post.description, 
                image: post.image,
                url: '/публікації/' + post.alias,
                button: {
                    text: post.category.title,
                    url: '/категорії/' + post.category.alias
                }
            }); %>
        </div>
    <% }) %>
</div>
<div class="cloud text-center my-5 mx-auto">
    <% tags.forEach(tag => { %>
        <a href="/мітки/<%= tag.alias %>" class="size-<%= 10 - (tag.posts * 2) %> text-nowrap d-inline-block">
            <%= tag.title %>
        </a>
    <% }) %>
</div>