<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="/logo.png" alt={name} width="100" />
        </a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" />
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% categories.slice(0, 6).forEach(category => { %>
                    <li class="nav-item">
                        <a href="/категорії/<%= category.alias %>"
                            class="nav-link <%= (path === '/категорії/' + category.alias) ? ' active' : '' %>">
                            <%= category.title %>
                        </a>
                    </li>
                <% }) %>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false" role="button">
                         ...
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% categories.slice(6).forEach(category => { %>
                            <li class="nav-item">
                                <a href="/категорії/<%= category.alias %>"
                                    class="nav-link<%= (path==='/категорії/' + category.alias) ? ' active' : '' %>">
                                    <%= category.title %>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </div>
        <form class="d-flex" id="search">
            <input type="search" name="запит" placeholder="Пошук ..."
                class="form-control me-2" />
        </form>
    </div>
</nav>