<% if (typeof blocks !== 'undefined') { %>
    <%- include('../article') %>
<% } else { %>
    <article class="container mt-5">
        <% if (typeof image !== 'undefined') { %>
            <div>
                <img src="<%= images.host %>/<%= image %>?width=320" />
            </div>
        <% } %>
        <p><%= description %></p>
        <%- body %>
    </article>
<% } %>
