<article class="container">
    <h5 style="margin-top: -1rem;">
        <a href="/korystuvachi/<%= user.slug %>">
            <i><%= user.title %></i>
        </a>, 
        <a href="/katehoriyi/<%= category.slug %>">
            <strong><%= category.title %></strong>
        </a>
    </h5>
    <div class="mt-5">
        <img src="<%= images.host %>/<%= image %>?width=320" />
    </div>
    <p><%= description %></p>
    <%- body %>
    <p>
        <strong>Мітки: </strong>
        <%- tags.map(tag => 
            `<a href="/mitky/${tag.slug}">${tag.title}</a>`
        ).join(', ') %>
    </p>
</article>