<article class="container">
    <h5 style="margin-top: -1rem;">
        <a href="/автори/<%= user.alias %>">
            <i><%= user.title %></i>
        </a>, 
        <a href="/категорії/<%= category.alias %>">
            <strong><%= category.title %></strong>
        </a>
    </h5>
    <div class="mt-5">
        <img src="<%= images.blank %>" data-src="<%= image %>" />
    </div>
    <p><%= description %></p>
    <%- body %>
    <p>
        <strong>Мітки: </strong>
        <%- tags.map(tag => 
            `<a href="/мітки/${tag.alias}">${tag.title}</a>`
        ).join(', ') %>
    </p>
</article>